#top {
	background-image: url(../images/cmaBanner900.png);
	background-repeat:no-repeat;
	background-position: top left;
	background-color: #101431;
}
#middle	{
	/* height:100%; */
	background-color: #ffffff;
}
#content	{
	_position:relative; 
	/* IE 6 fix vanishing text float bug */
	/* adding this causes sidebar links to now work in FF */
	/* so use _ IE hack because IE6 is a horrible browser full of bugs with float */
}

#content, #content td	{
	font-size:12px;	
}
#bottom {
	margin-bottom:10px;
}
#nav	{
	background-color:#fff; /* #2B2D51; */
}
#superTop	{
	background: #980000;
	background-image: url(../images/nci_header.png);
	background-repeat: no-repeat;
	background-position: 10 0;
	height:30px;
	margin-top:10px;
}

.xbutton	{
	border-top:1px solid #2B2D51;
	border-left:1px solid #2B2D51;
	border-bottom:2x solid #2B2D51;
	border-right:2px solid #2B2D51;
}

fieldset	{
	border-right:0px;
	border-bottom:0px;
	border-left:0px;
	border-top:0px dashed #2B2D51;
	/*width:70%;*/
	padding:20px;
	margin-top:20px;
}
.radio	{
	margin-left:40px;
}
.button	{
	width:100px;
}
legend	{
	color: #2B2D51;
	font-size:16px;
}

.sidebar	{
	float:right; 
	width:200px; 
	/* height:90%; */ 
	background-color:#e0e0e0; 
	margin:20px; 
	border:1px solid #999;
	font-size: 11px;
}

/* for context switching widget */
#contextDiv	{
	float:right; 
	width:210px;
	margin:0px;
	color:#fff;	
}

#contextOptions a:hover	{
	background-color:gray;
	color:#fff;
}
#contextOptions a#tcgaContext	{
	padding:5px;
	background-image: url(../images/tcgaContext30.gif);
	background-repeat:no-repeat;
}
#contextOptions a#rbtContext	{
	padding:5px;
	background-image: url(../images/rbtContext30.gif);
	background-repeat:no-repeat;
}
#ccontextDiv	{
	/* note the 2nd c */
	width:200px;
	height:30px;
	text-align:right;
	background-color:silver;	
	cursor:pointer;
}
#ccontextText	{
	float:left;
	padding-left:40px;
	color:#fff; 
	font-size:20px;
	background-image: url(../images/rbtContext30.gif);
	background-repeat:no-repeat;
	background-position: 5 2;

}
#ccontextArrow	{
	float:right;
	padding:5px; 
	border-left:1px solid black;

}
#contextOptions	{
	margin-left:20px;
	width:165px;
	text-align:right;
	background-color:silver;	
}
#contextOptions div	{
	font-size:16px;
	padding:5px; 
	cursor:pointer;
	color:#000;
}

/* MESSAGES AND ERRORS from main.css */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}