<?xml version="1.0" encoding="UTF-8"?>

<!--L
   Copyright SAIC

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/cma/LICENSE.txt for details.
L-->

<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping
		resource="gov/nih/nci/caintegrator/domain/finding/copyNumber/bean/CopyNumberFinding.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/snp/bean/VariationReporter.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/finding/clinical/leukemia/bean/LeukemiaClinicalFinding.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/finding/clinical/bean/ClinicalFinding.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/study/bean/StudyParticipant.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/study/bean/Activity.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/study/bean/Study.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/study/bean/Specimen_target.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/study/bean/TimeCourse.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/study/bean/Population.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/analysis/snp/bean/SNPAnalysisGroup.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/analysis/snp/bean/SNPAssociationAnalysis.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/analysis/snp/bean/SNPAssociationFinding.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/snp/bean/SNPAnnotation.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/snp/bean/SNPAssay.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/snp/bean/SNPPanel.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/finding/variation/germline/bean/GenotypeFinding.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/finding/variation/snpFrequency/bean/SNPFrequencyFinding.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/gene/bean/GeneAlias.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/gene/bean/CytobandPosition.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/gene/bean/GeneBiomarker.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/annotation/gene/bean/GeneExprReporter.hbm.xml" />

	<mapping
		resource="gov/nih/nci/caintegrator/application/lists/UserList.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/application/lists/ListItem.hbm.xml" />
	<mapping
		resource="gov/nih/nci/caintegrator/domain/analysis/snp/bean/OddsRatio.hbm.xml" />
	<!--  
	<mapping resource="gov/nih/nci/cma/query/dao/ValueObject.hbm.xml" />
	-->
	<mapping resource="gov/nih/nci/caintegrator/domain/finding/clinical/brainCancer/GBMClinicalFinding.hbm.xml" />
	<mapping resource="gov/nih/nci/caintegrator/domain/annotation/gene/bean/GeneReporterAnnotation.hbm.xml" />
	<mapping resource="gov/nih/nci/caintegrator/util/idmapping/IdMapping.hbm.xml" />
    <mapping resource="gov/nih/nci/caintegrator/util/PlatformMapping.hbm.xml" />
    
    </session-factory>
</hibernate-configuration>
